<header class="header">
  <div class="container">
    <div class="header__wrap">

      <div class="header__logo">
        <a href="#">
          <img class="header__logo-img" src="./img/logo.svg" alt="Логотип Cheelee">
        </a>
        <p class="header__logo-text">by nuts<span class="header__logo-span">on</span></p>
      </div>

      <nav class="header__menu">
        <ul class="header__list list-reset">
          <li class="header__item">
            <a class="header__link" href="#">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Roadmap</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Documents</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">F.A.Q.</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Buy NFT glasses</a>
          </li>
        </ul>
      </nav>

      <div class="header__content">
        <div class="header__cheel">
          <div class="header__cheel-wrap">
            <span class="header__cheel-wrap_span1">cheel</span>
            <span class="header__cheel-wrap_span2">$8,00</span>
          </div>
        </div>

        <div class="header__lee">
          <div class="header__lee-wrap">
            <span class="header__lee-wrap_span1">lee</span>
            <span class="header__lee-wrap_span2">$8,00</span>
          </div>
        </div>
      </div>
      <button class="header__btn"><img src="./img/certik.svg" alt="Certik"></button>

      <div class="header__languages">
        <button class="header__languages_en">en</button>
        <button class="header__languages_ru">ru</button>
      </div>
    </div>

  </div>
</header>
