<section class="mission">
  <div class="container mission__container">
    <h2 class="mission__title"><span class="mission__title_span">Cheelee’s</span> mission</h2>
    <div class="mission__content">
      <p class="mission__content-text grid-1">Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair</p>
      <p class="mission__content-text grid-2"><span class="mission__content-text_span">Our mission</span> is to provide everyone with the&nbsp;opportunity to monetize time in social networks</p>
      <h3 class="mission__subtitle grid-3"><span class="mission__subtitle_span">Cheelee</span> works within the &Prime;Attention Economy&Prime; framework</h3>
      <p class="mission__work-text grid-4">Other social media consider a user as an information and advertising influence target, <span class="mission__work-text_span"> but a Cheelee user is a full system member, partner and beneficiary</span></p>
      <p class="mission__work-text grid-5">The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.</p>
      <p class="mission__work-text grid-6"> <span class="mission__content-text_span">The Attention Economy</span> sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon</p>
      <p class="mission__work-text grid-7">Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money</p>
      </div>
    </div>

  </div>
</section>
