<section class="product">
  <div class="container product__container">
      <div class="product__content">
        <h2 class="product__title">Cheelee team has <span class="product__title_span">already&nbsp;launched product</span></h2>
        <p class="product__desc">The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)</p>
      </div>
      <img class="product__img" src="./img/screen.png" alt="Экран">
  </div>
</section>
