<section class="tokens">
  <div class="container tokens__container">
    <div class="tokens__content tokens__content_grid-1">
      <div class="tokens__num">1</div>
      <p class="tokens__desc">Sign-up and get your&nbsp;<span class="tokens__desc_span">&nbsp;free NFT glasses</span></p>
    </div>
    <div class="tokens__content tokens__content_grid-2">
      <div class="tokens__num">2</div>
      <p class="tokens__desc">Watch the feed and&nbsp;get the boxes <span class="tokens__desc_span">with LEE tokens</span></p>
    </div>
    <div class="tokens__content tokens__content_grid-3">
      <div class="tokens__num">3</div>
      <p class="tokens__desc">Buy your NFT glasses and <span class="tokens__desc_span">get LEE tokens</span> directly when watching the feed</p>
      <p class="tokens__text">The higher the rarity of your NFT glasses, the&nbsp;more points you get when leveling them up - the more tokens
        you can earn</p>
    </div>
    <div class="tokens__content tokens__content_grid-4">
      <div class="tokens__num">4</div>
      <p class="tokens__desc tokens__desc_style">Upgrade&nbsp;your <span class="tokens__desc_span">NFT glasses</span></p>
    </div>
    <div class="tokens__content tokens__content_grid-5">
      <div class="tokens__num">5</div>
      <p class="tokens__desc tokens__desc_style-2"><span class="tokens__desc_span">Buy additional NFT&nbsp;glasses</span> to increase&nbsp;the amount of Attention and&nbsp;rewarded time of watching the feed</p>
      <p class="tokens__text">1 Attention = 10 minutes of rewarded feed viewing</p>
    </div>
      <img class="tokens__content-img tokens__content_grid-6" src="./img/phone.png" alt="Телефон">
  </div>

</section>
