<section class="watch">
  <div class="container watch__container">
    <div class="watch__wrap">
      <div class="watch__content">
        <h2 class="watch__title">Watch the videos and <span class="watch__title_span">get the boxes</span></h2>
        <p class="watch__desc">While watching the feed you can get boxes with&nbspNFT or LEE tokens</p>
      </div>
      <img src="./img/cube.png" alt="куб" width="404" height="306">
    </div>
  </div>
  <div class="container">
    <div class="watch__box">
      <div class="watch__container-1">
        <p class="watch__box-text">Don’t miss the <span class="watch__box-text_span">Presale</span></p>
        <button class="watch__box-btn">Buy NFT glasses</button>
      </div>
    </div>
  </div>

</section>
